.song-title {
  height: 80px;
}
.album{
  height: 100vh;
}
.album::before{
background: url('/assets/images/main-background.png');
opacity: 0.3;
}
#album-info{
  margin-right: 400px;
  margin-top: 50px;
  margin-left: 50px;
}
.container-fluid{
  margin: 0px;
  padding: 0px;
  background-color: lightyellow;
}

#song-list{
  height: 100px;
  width: 300px;
  opacity: 0.8;
  background-color: lightblue;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 25px;
}

#album-info{
  padding-left: 0px;
  padding-right: 0px;
  width: 400px;
  float: right;

}
#album-cover-art{
  height: 200px;
  width: 200px;

}
#buttons{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.list-buttons .show-on-play .ion-play : hover{
  display: block;
}
.list-buttons .ion-play.show-on-hover{
  display: none;
}

#volume-control{
  margin-left: 550px;
  margin-right: 550px;
}
#time-control{
  margin-left: 200px;
  margin-right: 200px;
}
.icon.ion-volume-low{
  display: inline-block;
  float: left;
}

.playing .ion-play {
  display: none;
}

.playing .ion-pause {
  display: block;
}

.playing .song-number {
  display: none;
}

.not-playing .ion-play {
  display: none;
}


.not-playing:hover .ion-play{
  display: block;
}

.not-playing:hover .song-number {
  display: none;
}

.not-playing .ion-pause {
  display: none;
}

.not-playing-this .ion-pause {
  display: none;
}

.not-playing-this .ion-play {
  display: none;
}

.not-playing-this .song-number {
  display: block;
}

.paused-this .ion-play {
  display: block;
}
.paused-this .ion-pause {
  display: none;
}
.paused-this .song-number {
  display: none;
}
.icon.ion-volume-high{
  display: inline-block;
  float: right;
}
